// Variables
$ocre: #cbb055;
$casinegro: #342c22;
$grisverdoso: #3b3823;
$beigeclaro: #9f9880;
// Mixin
@mixin proportion ($alto, $ancho, $margin) {
	height: $alto;
	width: $ancho;
	margin: $margin;
}
.gridContacto {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "mensajes datosContacto"
    "mapa mapa";
    @include proportion(auto, 100%, 0 20px 10px 20px);
}
#mensajes {
    grid-area: mensajes;
}
#datosContacto {
    grid-area: datosContacto;
}
#mapa {
    grid-area: mapa;
}
#mensajes {
display: flex;
flex-flow: column nowrap;
@include proportion(auto, 90%, 1%);
}
#mensajes h3 {
    text-transform: uppercase;
    color: $grisverdoso;
    margin-left: 10px;
}
form {
    color: $grisverdoso;
    font-size: small;
    margin-left: 10px;
}
#botonesFlex {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.botones {
    background-color: $beigeclaro;
    color: $grisverdoso;
    border: none;
    border-radius: 12px;
    @include proportion(auto, 100px, 5px);
    padding: 1px;
}
.botones:hover {
    background-color: $ocre;
    cursor: pointer;
}
.cajasContacto {
    display: flex;
    flex-flow: column nowrap;
    margin: 1%;
    border: none;
    background-color: rgba(159, 152, 128, 0.1);
}
#datosContacto {
    @include proportion(auto, 90%, 1%);
    display: flex;
    flex-flow: column nowrap;
    padding: 3px;
    justify-content: center; 
    align-items: center;
}
#datosContacto h3 {
    text-transform: uppercase;
    color: $grisverdoso;
    margin-left: 10px;
}
#datosContacto ul {
list-style: none;
text-decoration: none;
}
#datosContacto a {
    text-decoration: none;
    color: $casinegro;
}
#datosContacto a:hover {
    color: $ocre;
}
#datosContacto li {
    padding: 5px;
    margin-bottom: 3px;
    background-color: rgba(159, 152, 128, 0.1);
    border-radius: 5px;
}
#mapa{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 10px;
}
.gridSubProyecto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    width: 100%;
    height: 100vh;
    grid-template-areas: 
    "descripcion fotoPro1 fotoPro2"
    "descripcion fotoPro3 fotoPro4";
}