$ocre: #cbb055;
$casinegro: #342c22;
$grisverdoso: #3b3823;

#pie {
    display: flex;
    flex-flow: row wrap;
    width: 95%;
    height: 30px;
    justify-content: space-between;
    padding: 2px 5px;
    margin-left: 10px;
    border-top: dashed 1px $ocre;

}
#pie p {
    display: flex;
    flex-flow: row;
    margin: 0 2%;
}
#redes {
    display: flex;
    flex-direction: inline;
    justify-content: space-around;
}
#redes a {
    padding: 1px 5px;
}
