$ocre: #cbb055;
$casinegro: #342c22;
$grisverdoso: #3b3823;

#gridTotal {
    display: grid;
    grid-template-areas: 
    "cabecera"
    "sobre"
    "menuDos"
    "pie";
    grid-template-columns: 100%;
    grid-template-rows: auto;
}
.cabecera {
    grid-area: cabecera;
}
.sobre {
    grid-area: sobre;
    display: flex;
    width: 100%;
    height: auto;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 5px;
p {
    text-align: center;
    width: 75%;
    height: auto;
    color: $casinegro;
    margin-bottom: 7px;
    padding: 5px;
    }
.video {
    margin-bottom: 10px;
}
}
.menuDos {
    grid-area: menuDos;
    display: flex;
    margin: 0% 20%;
    justify-content: center;
    align-content: center;
    ul {
        display: flex;
        flex-flow: row nowrap;
        list-style: none;
        justify-items: space-around;
        display: grid;
    }
    .transitionMenu {
        transition: all 1s;
        border-color: white;
        &:hover {
        border-width: 3px;
        border-color: $ocre;
        border-style: solid;
        }
    }
}
.pie {
    grid-area: pie;
}