// Variables
$ocre: #cbb055;
$casinegro: #342c22;
$grisverdoso: #3b3823;
// Mixin
@mixin proportion ($alto, $ancho, $margin) {
	height: $alto;
	width: $ancho;
	margin: $margin;
}
#gridTotal {
    display: grid;
    grid-template-areas: 
    "cabecera"
    "sobre"
    "menuDos"
    "pie";
    grid-template-columns: 100%;
    grid-template-rows: auto;
}
.cabecera {
    grid-area: cabecera;
}
.sobre {
    @include proportion(auto, 100%, 0);
    grid-area: sobre;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
p {
    @include proportion(auto, 75%, 0 0 7px 0);
    text-align: center;
    color: $casinegro;
    padding: 5px;
    }
.video {
    margin-bottom: 10px;
}
}
.menuDos {
    grid-area: menuDos;
    display: flex;
    margin: 0% 20%;
    justify-content: center;
    align-content: center;
    ul {
        display: flex;
        flex-flow: row nowrap;
        list-style: none;
        justify-items: space-around;
        display: grid;
    }
    .transitionMenu {
        transition: all 1s;
        border-color: white;
        &:hover {
        border-width: 3px;
        border-color: $ocre;
        border-style: solid;
        }
    }
}
.pie {
    grid-area: pie;
}