.gridProyectos {
    display: grid;
    grid-template-areas: 
    "cabeceraP"
    "proyectos"
    "pie"
    ;
    grid-template-columns: 100%;
    grid-template-rows: auto;
}
.cabeceraP {
    grid-area: cabeceraP;
}
.proyectos {
    grid-area: proyectos;
}
#pie {
    grid-area: pie;
}
.proyectos {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    color: #342c22;
    width: 100%;
    height: auto;
    margin: 3px;
 h2 {
    text-align: center;
    font-size: 20px;
}
 img {
    border-style:dashed;
    border-color: #cbb055;
    border-width: 1px;
    border-radius: 10%;
    margin: 2px;
    padding: 0%;
    transition: all 1s;
&:hover {
    border-width: 3px;
    border-style: solid;
}
}
li {
    padding: 0;
    margin: 1px;
}
}