// Variables
$ocre: #cbb055;
$casinegro: #342c22;
$grisverdoso: #3b3823;
// Mixin
@mixin proportion ($alto, $ancho, $margin) {
	height: $alto;
	width: $ancho;
	margin: $margin;
}
#mainSobre {
    width: 90%;
    height: auto;
}
.sobreRasgo {
    @include proportion(auto, 100%, 2px 50px);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
}
.sobreRasgo h2 {
    @include proportion(50px, 100%, 3px 5px);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-image: url(../imagenes/ejemploback.png);
    background-position: center;
    background-size:auto;
    background-repeat: no-repeat;
    color: $casinegro;
}
.sobreRasgo p {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    margin: 10px 20%;
    padding: 2px;
    text-align: justify;
    color: $grisverdoso;
}
.sobreObras {
    @extend .sobreRasgo
}
.sobreNos {
    @extend .sobreRasgo;    
.miniBox {
margin: 1% 17%;
}
}
.leftSide {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    animation-name: entrada;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0,1.28,1,1);
}
@keyframes entrada {
    0% {
        transform: scale(130%);
    }
    30% {
        transform: scale(115%)
    }
    50% {
        transform: translateX(-800px);
    }
    100% {
        transform: scale(100%);
    }
}
.rightSide {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-content: flex-end;   
    animation-name: salida;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0,1.28,1,1);
}
@keyframes salida {
    0% {
        transform: scale(130%);
    }
    30% {
        transform: scale(115%)
    }
    50% {
        transform: translateX(800px);
    }
    100% {
        transform: scale(100%);
    }
}